<div class="row schedule-display">
    <span class="schedule-display-item">Season: @ScheduleData.Season</span>
    <span class="schedule-display-item">Week: @ScheduleData.Week</span>
    <span class="schedule-display-item">Home Team Id: @ScheduleData.HomeTeamId</span>
    <span class="schedule-display-item">Away Team Id: @ScheduleData.AwayTeamId</span>
    <span class="schedule-display-item">Bye Team Id: @ScheduleData.ByeTeamId</span>
    <span class="schedule-display-item">Day: @ScheduleData.GameDay</span>
</div>